* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 10px;
  height: 100px;
  background: #f1f1f1;
}

.header {
  padding: 30px;
  text-align: center;
  background: #3baea0;
}

.header h1 {
  font-size: 50px;
}

.topnav {
  overflow: hidden;
  background-color: orangered;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.leftcolumn {
  float: left;
  width: 100%;
}

.rightcolumn {
  float: left;
  width: 100%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

.card {
  background-color: black;
  padding: 20px;
  margin-top: 20px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: orangered;
  margin-top: 20px;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./picture/hero.jpg");
  height: 1000%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  padding: 200px;
  font-size: 35px;
  font: 100;
  color: #ddd;
}

.button {
  border: none;
  background-color: orangered;
  color: white;
  padding: 20px 42px;
  text-align: center;
  margin: 8px 2px;
  cursor: pointer;
}

.image {
  height: 00%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  padding: 200px;
  font-size: 35px;
  font: 100;
  color: #ddd;
}

@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
.user-name {
  text-transform: uppercase !important;
}
